<!DOCTYPE html>
<html>
  <body>
    <h2>Forms</h2>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="/update/{{ produks.id }}" method="POST">
      {% csrf_token %}

      <label for="status">Choose a Status:</label>
      <select id="status" name="status">
        {% if statuss %} {% for status in statuss %}
        <option value="{{ status.id }}">{{status.nama_status}}</option>
        {% endfor %}{% else %}
        <option value="">No Data</option>
        {% endif %}
      </select>
      <br />

      <label for="kategori">Choose a Kategori:</label>
      <select id="kategori" name="kategori">
        {% if kategoris %} {% for kategori in kategoris %}
        <option value="{{ kategori.id  }}">{{kategori.nama_katagori}}</option>
        {% endfor %}{% else %}
        <option value="">No Data</option>
        {% endif %}
      </select>
      <br />

      <label for="nama_produk">nama produk :</label><br />
      <input type="text" id="nama_produk" name="nama_produk" value="{{ produks.nama_produk }}" />
      <br />

      <label for="harga">harga :</label><br />
      <input type="number" id="harga" name="harga" value="{{ produks.harga }}" />
      <br /><br />

      <input type="submit" value="Submit" />
    </form>

    <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
  </body>
</html>
